.h{
    background-color: aquamarine;
    color: blanchedalmond;
    font-size: 60px;
    text-align: center;
    border-radius:23px 30px 24px 21px;
    
}
nav{
   width:100%;
   background-color:antiquewhite;
   height:100px;
   border-radius:20px;
}
.o{
    font-size: large;
    font-family:poppins,sans-serif;
    color:black;

}
.l{
    display:inline-block;
    margin-left:170px;
     text-align: center;
     margin-top:40px;
    
}
.l:hover{
    background-color:whitesmoke;
    width:90px;
    height:40px;
    margin-top: 20px;
    border-radius: 12px;
}